@model EXSM3935_C_Sharp_Final_Project.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<h1>Details</h1>

<div>
    <h4>Client #@Html.DisplayFor(model => model.FormattedClientId)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.FirstName)-->
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.LastName)-->
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.BirthDate)-->
            Birth Date
        </dt>
        <dd class="col-sm-10">
            <!--@Html.DisplayFor(model => model.BirthDate)-->
            @Html.DisplayFor(model => model.StrBday)
        </dd>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.HomeAddress)-->
            Home Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt></dt>
        <dd></dd>
        <dt class="col-sm-2">
            Total Deposits
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrTotalDep)
        </dd>
        <dt class="col-sm-2">
            VIP Client?
        </dt>
        <dd class="col-sm-10">
            @if (Model.VIPClient)
            {
                <span>YES</span>
            }
            else
            {
                <span>NO</span>
            }
        </dd>
        <dt></dt>
        <dd></dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
